---
layout: default
pagination:
    data: collections.tags
    size: 1
    alias: tag
permalink: "tag/{{ tag | slug }}/"
eleventyComputed:
  title: "Posts tagged {{ tag }}"
---

{%- assign tagged = collections[tag] | reverse -%}

<div class="shell">
	<div class="column column--index">

	<header class="page-head">
		<h1 class="page-head__title">{{ tag }}</h1>
		<p class="page-head__note">
			{{ tagged.size }} post{% if tagged.size != 1 %}s{% endif %} tagged &ldquo;{{ tag }}&rdquo;.
			<a href="/tags/">Browse all tags</a>
		</p>
	</header>

		<div class="entries">
			{%- for post in tagged %}
				{% include entry.html %}
			{%- endfor %}
		</div>

	</div>
</div>
