---
layout: default
post_class: post-template page-template
---

{% include header.html %}

<main class="content" role="main">
    <article class="post">
        <header class="post-header">
            <figure class="author-image">
			    <a class="img" href="{{ metadata.url }}" style="background-image: url({{ metadata.author.avatar }})">
			    <span class="hidden">{{metadata.author.name}}'s Picture</span></a>
			</figure>
        </header>

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
