---
layout: default
---

<div class="shell">
	<article class="column">

		<header class="page-head">
			<h1 class="page-head__title">{{ title }}</h1>
		</header>

		<div class="byline">
			<img class="byline__avatar" src="/assets/img/jason.jpg" width="52" height="52" alt="{{ metadata.author.name }}" />
			<div class="byline__body">
				<p class="byline__name">{{ metadata.author.name }}</p>
				<div class="byline__links">
					<a href="https://github.com/{{ metadata.author.github }}" rel="me noopener">
						<svg aria-hidden="true"><use href="#i-github" /></svg> github.com/{{ metadata.author.github }}
					</a>
					<a href="{{ metadata.feed.path }}">
						<svg aria-hidden="true"><use href="#i-rss" /></svg> Subscribe
					</a>
				</div>
			</div>
		</div>

		<div class="prose">
			{{ content }}
		</div>

	</article>
</div>
